<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.scintilla.desktop-daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>__DAEMON_ABSOLUTE_PATH__</string>
    <string>--config</string>
    <string>__CONFIG_ABSOLUTE_PATH__</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><dict><key>SuccessfulExit</key><false/></dict>
  <key>ProcessType</key><string>Background</string>
</dict>
</plist>
